<div class='activityTitle'>Global Variable(s) Updated!</div>
<div class='activityContent'>
	<%
	_.each(globals,function(d,i){
		print( i +" is now "+d.value+"<br>");
	});
	%>
</div>
<div class='activityResult'></div>