<%
if( typeof el_id !== 'undefined' ){
	id_str='id="'+el_id+'"'
}else{
	id_str=''
}
%>
<div class='scalar_header'><%=title%></div>
<div class='scalar_value'><%=value%></div>
<div class='scalar_unit'><%=unit%></div>