@import "bootstrap";

@mixin gradient-bg($color1, $color2){
  background-color: $color1;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2});
  background-image: -moz-linear-gradient(center top, $color1, $color2);
  background-image: -webkit-gradient(linear,right top , right bottom, from($color1), to($color2));
  }


body{
	//background:#C39A6C;
	background: #525240;
		color:#23190A;
}

#banner{
	
	height:200px;
	@include gradient-bg( #080704,#525240);
	


	
	.container{
		
		height:200px;
		background: url('/assets/switchboard.jpg');
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position:center;
		//box-shadow: 5px 5px 10px #1A1A14;
		border-radius:5px;

	}
	#titleTag{
		border-radius: 0 10px 0 0 ;
		border-bottom: 2px solid #953116;
		
		background: rgba(27,18,8,0.5);
		background: rgba(249,251,253,0.7);
		@include gradient-bg( rgba(248,232,188,0.2),rgba( 247,206,117,0.8));	
		color:#EFDaB7;
		color:#953116;
				margin-top:20px;
		padding-left:50px;

	}
}
#main{

	#feedBox{
		ul {
  		list-style-type: none;
  		margin: 0;
  		padding: 0;
			li{
				padding:5px;
				margin:5px;
				border-bottom:1px solid #4E7353;

				.activityTitle{ font-size:0.8em;font-weight:bold;}
				.activityContent{ font-size:0.8em;padding-left:10px;}
				.activityResult{ font-size:0.8em;font-weight:bold;}
			}
		}

	}

}

.content_section{
	box-shadow: 5px 5px 10px #1A1A14;
	border-radius:5px;
	margin: 10px 0 0 0;
	background:#FAECCD;

	.content_header{
		font-size:1.5em;
		text-transform:uppercase;
		border-bottom:1px solid #953116;
		padding:8px;
		@include gradient-bg( #FAECCD,#FBD491);
		border-radius:5px 5px 0 0 ;
		color:#953116;
	}

	.content_body{
		padding:5px;
	}

}
.scalar{
	display:inline-block;
	width:100px;
	height:100px;
	border-radius:5px;
	border: 1px solid #FAFCFD;
	text-align:center;
	margin:5px;
	@include gradient-bg( #FAFCFD,#FAECCD);
	color:#953116;
	vertical-align:bottom;
	.scalar_header{
		font-size:12px;
		line-height:22px;
		font-weight: bold;

			height:20px;
			width:100px;
	}
	.scalar_value{
		text-align:center;
		font-size:45px;
		line-height:55px;

		text-shadow:1px 2px 5px #23190A;
		height:55px;
		width:100px;

	}
	.scalar_unit{
			font-size:12px;
		height:20px;
		width:100px;
				font-size:12px;
		line-height:15px;

	}
}


#main-bottom{
	#envInfo{
		line-height:1.0em;
		font-size:0.8em;
	}
	line-height:2.0em;
	color:#683821;
	box-shadow:0px -10px 5px #525240;
	@include gradient-bg( #525240,#080704);
}